#h1 {
    font-family: sans-serif;
    font-style: italic;
    color: aqua;
    text-align: center;
    background-color: yellow;
}

#p {
    color: aqua;
    border: 1px solid black;
    padding: 10px;
    width: 400px;
    text-indent: 25px;
    

}


#first_line {
    color:blue
    

}

body {
    background-color: rgb(64, 147, 219);
}